<aside class="widget about-widget">
    @* <div class="widget-title">Adam Drewery</div> *@

    <div class="text-center">
        <img id="photo" src="images/me.jpg" alt="About Me" class="rounded-circle">

        <p>Hello fellow traveller. Its me, Adam! I'm a programmer, music lover, conisseur of fine cheeses and slayer of dangerous goblinoids. </p>
    </div>

</aside>