@inject SiteContext SiteContext

<aside class="widget">
    <div class="widget-title">Archives</div>

    <ul>
        @foreach (var post in SiteContext.Posts)
        {
            <li>

                <div>
                <a href="/@post.Id">@post.Title
                
                    <div  style="font-size: x-small" href="/@post.Id">@post.Date
                    </div>
                </a>
                </div>
            </li>
        }
    </ul>
</aside>