@inherits LayoutComponentBase
<div class="topbar-mobile">
    <div class="logo">
        <a href="/">
            <img src="images/me.jpg" alt="" class="" style="height: 44px;">
        </a>
        <button class="button-menu-mobile">
            <i class="mdi mdi-menu"></i>
        </button>
    </div>
</div>
<div class="left side-menu">
    <NavMenu/>
</div>
@Body