@using System.Text
@using System.ServiceModel.Syndication
@using System.Xml
@using Microsoft.AspNetCore.Components.WebAssembly.Hosting
@inject SiteContext SiteContext
@inject IJSRuntime JsRuntime
@inject IWebAssemblyHostEnvironment HostEnvironment

@code {

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await JsRuntime.InvokeVoidAsync("setupPhoto");
        await JsRuntime.InvokeVoidAsync("initializeMenu");
    }
}

<div class="slimscroll-menu" id="remove-scroll">
    <div id="sidebar-menu" style="padding: 1em">
        <AboutMe />
        <Search />
        <TagCloud />
        <RecentEntries />
        <MailChimp />
        <Socials />
        <Archives />
    </div>
</div>