<aside class="widget widget_search">
    <form action="/search">
        <input name="q" class="form-control pr-5" style="background-color: #333; color: #eee" type="search" placeholder="Search...">
        <button class="search-button" type="submit">
            <span class="mdi mdi-magnify"></span>
        </button>
    </form>
</aside>