<aside class="widget about-widget">
    <div class="widget-title">Elsewhere</div>

    <ul class="socials">
        <li>
            <a href="@SiteContext.GitHub">
                <i class="mdi mdi-github-circle"></i>
            </a>
        </li>
        <li>
            <a href="@SiteContext.StackOverflow">
                <i class="mdi mdi-stackoverflow"></i>
            </a>
        </li>
        <li>
            <a href="@SiteContext.LinkedIn">
                <i class="mdi mdi-linkedin"></i>
            </a>
        </li>
        <li>
            <a href="https://raw.githubusercontent.com/adam-drewery/blog/main/rss.xml" download="rss.xml">
                <i class="mdi mdi-rss"></i>
            </a>
        </li>
    </ul>

</aside>