<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Responsive blog template">
    <meta name="author" content="Zoyothemes">

    <link rel="shortcut icon" href="/images/favicon.ico">

    <title>Blogezy - Responsive Blog Template</title>

    <!-- Google Fonts -->
    <link href="/https://fonts.googleapis.com/css?family=Nunito+Sans:300,600,700" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- MENU CSS -->
    <link href="/css/metismenu.min.css" rel="stylesheet" type="text/css" />

    <!-- MATERIALDESIGN ICON -->
    <link rel="stylesheet" type="text/css" href="/css/materialdesignicons.min.css">

    <!-- CUSTOM STYLESHEET -->
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <link href="/css/default.css" rel="stylesheet" type="text/css" />

</head>

<body>
    <!-- Begin page -->
    <div id="wrapper">

        <!-- Top Bar Start -->
        <div class="topbar-mobile">
            <div class="logo">
                <a href="/index.html"><img src="images/logo.png" alt="" class="" style="height: 44px;"></a>
                <button class="button-menu-mobile">
                    <i class="mdi mdi-menu"></i>
                </button>
            </div>
        </div>
        <!-- Top Bar End -->
        <!-- ========== Left Sidebar Start ========== -->
        <div class="left side-menu">

            <div class="slimscroll-menu" id="remove-scroll">

                <div class="logo">
                    <a href="/index.html"><img src="images/logo.png" alt="" class="" style="height: 44px;"></a>
                    <p class="text-muted">Graduating from the halls of the University Of Western Sydney in late 2011. </p>
                </div>

                <!--- Sidemenu -->
                <div id="sidebar-menu">
                    <!-- Left Menu Start -->
                    <ul class="metismenu" id="side-menu">

                        <li>
                            <a href="/index.html"><span> Home</span></a>
                        </li>

                        <li>
                            <a href="/javascript: void(0);"><span> Features </span></a>
                            <ul class="nav-second-level" aria-expanded="false">
                                <li><a href="/standard-post.html">Standard Post</a></li>
                                <li><a href="/video-post.html">Video Post</a></li>
                                <li><a href="/audio-post.html">Audio Post</a></li>
                                <li><a href="/gallery-post.html">Gallery Post</a></li>
                                <li><a href="/quote-post.html">Quote Post</a></li>
                                <li><a href="/link-post.html">Link Post</a></li>
                                <li><a href="/404.html">Error 404</a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="/javascript: void(0);"><span> Lifestyle </span></a>
                        </li>

                        <li>
                            <a href="/javascript: void(0);"><span> Travel </span></a>
                        </li>

                        <li>
                            <a href="/javascript: void(0);"><span> Music </span></a>
                        </li>

                        <li>
                            <a href="/about.html">About</a>
                        </li>

                        <li>
                            <a href="/contact.html">Contact</a>
                        </li>

                    </ul>

                    <div class="copyright-box">
                        <p>2020 © Blogezy. </p>
                    </div>

                </div>
                <!-- Sidebar -->
                <div class="clearfix"></div>

            </div>
            <!-- Sidebar -left -->

        </div>
        <!-- Left Sidebar End -->

        <div class="page-wrapper">
            <section class="pb-5 h-100vh">
                <div class="home-center">
                    <div class="home-desc-center">
                        <div class="container">
                            <div class="row">
                                <div class="col-12 text-center error-page">
                                    <h1>404!</h1>
                                    <h4 class="error-title">Sorry, page not found</h4>
                                    <p class="error-text text-muted mt-3">Use the navigation above or the button below to get back and track.</p>
                                    <a href="/index.html" class="btn btn-outline-custom mt-4">BACK TO HOME PAGE</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end container -->
            </section>
        </div>
    </div>
    <!-- js placed at the end of the document so the pages load faster -->
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/metisMenu.min.js"></script>
    <!--common script for all pages-->
    <script src="js/jquery.app.js"></script>
</body>
</html>