@page "/"
@inject SiteContext SiteContext

<div class="page-wrapper">
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-title">
                        <div class="row">
                            <div class="col-md-9 col-xs-12">
                                <h2>
                                    <span>blog.</span>
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="mt-3 pb-3">
        <div class="container">
            <div class="row">
                <div class="col-xl-8">
                    @foreach (var post in SiteContext.Posts)
                    {
                        <PostTitle Post="@post" />
                    }
                    <Pagination />
                </div>
            </div>
        </div>
    </section>
</div>