@page "/search"
@using Microsoft.AspNetCore.WebUtilities
@inject NavigationManager NavigationManager
@inject SiteContext SiteContext

@code {

    public string? SearchTerm { get; set; }

    protected override Task OnParametersSetAsync()
    {
        var query = QueryHelpers.ParseQuery(NavigationManager.ToAbsoluteUri(NavigationManager.Uri).Query);
        SearchTerm = query.TryGetValue("q", out var searchTerm) ? searchTerm.ToString() : "";
        return base.OnParametersSetAsync();
    }

}

<div class="page-wrapper">
    <section>
        <div class="container">
            <a href="/" class="btn btn-outline-custom">
                <i class="mdi mdi-step-backward"></i>
                Go back
            </a>
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-title">
                        <div class="row">
                            <div class="col-md-9 col-xs-12">
                                <h2>
                                    <span>Search results for "@SearchTerm"</span>
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="mt-3 pb-3">
        <div class="container">
            <div class="row">
                <div class="col-xl-8">
                    @{
                        var posts = SiteContext.Posts
                            .Where(p => p.Title.Contains(SearchTerm ?? "", StringComparison.OrdinalIgnoreCase));
                    }
                    @foreach (var post in posts)
                    {
                        <article class="post">

                            <div class="post-header">
                                <h2 class="post-title">
                                    <a href="/post/@post.Id">@post.Title</a>
                                </h2>
                                <ul class="post-meta">
                                    <li>
                                        <i class="mdi mdi-calendar"></i> @post.Date
                                    </li>
                                    @{ var delimiter = ""; }
                                    @foreach (var tag in post.Tags)
                                    {
                                        <li>
                                            <i class="mdi mdi-tag-text-outline"></i> <a href="/#">@tag@delimiter</a>
                                        </li>
                                        delimiter = ", ";
                                    }
                                    <li>
                                        <i class="mdi mdi-comment-multiple-outline"></i> <a href="/#">0 Comments</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="post-preview">
                                <a href="/#">
                                    <img src="/images/blog/blog-1.jpg" alt="" class="img-fluid rounded">
                                </a>
                            </div>
                            <div class="post-content">
                                <p>Whether an identity or campaign, we make your brand visible, relevant and effective by placing the digital at the center of its ecosystem, without underestimating the power of traditional media. Whether an identity or campaign, we make your brand visible.</p>
                            </div>
                        </article>
                    }
                    <Pagination/>
                </div>
            </div>
        </div>
    </section>
</div>